/* Override some default Racket styles for a hopefully fresher look. */

/* Monospace: */
.maincolumn, .refpara, .refelem, .tocset, .stt, .hspace, .refparaleft, .refelemleft {
  font-family: monospace;
}

/* Serif: */
.main, .refcontent, .tocview, .tocsub, i {
  font-family: 'Fenix',serif;
}

/* Sans-serif: */
.version, .versionNoNav {
  font-family: sans-serif;
}


/* ---------------------------------------- */
/* Table of contents, inline */

.toclink {
  text-decoration: none;
  color: #777777;
  font-size: 85%;
}

.toptoclink {
  text-decoration: none;
  color: #777777;
  font-weight: bold;
}

/* ---------------------------------------- */
/* Table of contents, left margin */

.tocset {
  position: relative;
  float: left;
  width: 12.5em;
  margin-right: 2em;
}
.tocset td {
  vertical-align: text-top;
}

.tocview {
  text-align: left;
  background-color: #f7f7f0;
}

.tocsub {
  text-align: left;
  margin-top: 0.5em;
  background-color: #f7f7f0;
}

.tocviewlist, .tocsublist {
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.tocviewlist table {
  font-size: 82%;
}

.tocviewsublist, .tocviewsublistonly, .tocviewsublisttop, .tocviewsublistbottom {
  margin-left: 0.4em;
  border-left: 1px solid #bbf;
  padding-left: 0.8em;
}
.tocviewsublist {
  margin-bottom: 1em;
}
.tocviewsublist table,
.tocviewsublistonly table,
.tocviewsublisttop table,
.tocviewsublistbottom table {
  font-size: 75%;
}

.tocviewtitle * {
  font-weight: bold;
}

.tocviewlink {
  text-decoration: none;
  color: black;
}

.tocviewselflink {
  text-decoration: none;
  color: black;
}

.tocviewtoggle {
  text-decoration: none;
  color: blue;
  font-size: 75%; /* looks better, and avoids bounce when toggling sub-sections due to font alignments */
}

.tocsublist td {
  padding-left: 1em;
  text-indent: -1em;
}

.tocsublinknumber {
  font-size: 82%;
}

.tocsublink {
  font-size: 82%;
  text-decoration: none;
  color: black;
}

.tocsubseclink {
  font-size: 82%;
  text-decoration: none;
  color: black;
}

.tocsubnonseclink {
  font-size: 82%;
  text-decoration: none;
  color: black;
  padding-left: 0.5em;
}

.tocsubtitle {
  font-size: 82%;
  font-style: italic;
  margin: 0.2em;
}

.sepspace {
  font-size: 40%;
}

.septitle {
  font-size: 70%;
}

/* ---------------------------------------- */
/* Margin notes */

.refpara, .refelem {
  position: relative;
  float: right;
  left: 2em;
  height: 0em;
  width: 13em;
  margin: 0em -13em 0em 0em;
}

.refpara, .refparaleft {
  top: -1em;
}

.refcolumn {
  background-color: #f7f7f0;
  display: block;
  position: relative;
  width: 13em;
  font-size: 85%;
  /* border: 1px solid #707070; */
  border: 0px;
  margin: 0 0 0 0;
  padding: 2 2 2 2;
}

.refcontent {
  margin: 0 0 0 0;
}

.refcontent p {
  margin-top: 0;
  margin-bottom: 0;
}

.refparaleft {
  position: relative;
  float: left;
  right: 2em;
  height: 0em;
  width: 13em;
  margin: 0em 0em 0em -13em;
}

.refcolumnleft, .refelemleft {
  background-color: #f7f7f0;
  display: block;
  position: relative;
  width: 13em;
  font-size: 85%;
  /* border: 1px solid #707070; */
  border: 0x;
  margin: 0 0 0 0;
  padding: 2 2 2 2;
}
